<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiRAG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DiRAG.Properties.Settings>
            <setting name="OpenAI_BaseUrl" serializeAs="String">
                <value>http://localhost:1234</value>
            </setting>
            <setting name="OpenAI_ApiKey" serializeAs="String">
                <value>abc</value>
            </setting>
            <setting name="Chat_FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="UI_Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Embedding_Url" serializeAs="String">
                <value>http://localhost:1234/v1</value>
            </setting>
            <setting name="Embedding_Model" serializeAs="String">
                <value>text-embedding-embeddinggemma-300m</value>
            </setting>
            <setting name="FolderTree_State" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAI_Model" serializeAs="String">
                <value>gemma3n</value>
            </setting>
        </DiRAG.Properties.Settings>
    </userSettings>
</configuration>